p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}




.sidebar h2 {
    visibility: hidden;
}

.sidebar li.book-part {
    margin-top: 1rem;
    text-transform: uppercase;
    #font-weight: 700;
    font-size: 20px;
}


img {
      border: 0;
    }
    .inline-figure {
      border: none !important;
    }
    
pre.r-output {
  font-size: 14px; /* Adjust the size as needed */
  }
  
#a {
#  color: blue; /* Sets the link color */
#}
  
 
  
